# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea
*.iws
*.iml
*.ipr
.vscode/
.project
.classpath
.settings

# Node
node_modules/
npm-debug.log

# Docker
.docker/
docker-compose.override.yml

# Build
build/
dist/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
src/main/resources/application-docker.yml

### STS ###
.apt_generated
.factorypath
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/
!**/src/main/**/build/
!**/src/test/**/build/

# Reactフロントエンド
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js
/frontend/coverage
/frontend/build
/frontend/.DS_Store
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts